.board-wrap {
  width: 93vw;
  height: 23vw;
  display: flex;
  justify-content: center;
  border: solid 1px #957222;
  margin: 0px auto;
  border-radius: 6px;
  overflow: hidden;
  background: linear-gradient(to top,#d7d7d7 0%,#ffffff 58%,#ffffff 100%);
  position: relative;
  box-shadow: 0px 3px 4px 0px #afafaf;

  &::before,&::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: linear-gradient(-45deg,#d7d7d7 0%,#ffffff 100%);
    border: solid 1px #9d9d9d;
    border-radius: 10px;
    top: 4px;
    left: 4px;
  }

  &::after {
    left: unset;
    right: 4px;
  }
}

.info {
  width: 38.4vw;
  height: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 85%;
    background: linear-gradient(to top,#c5c5c5 0%,#dfdfdf 100%);
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: linear-gradient(-45deg,#d7d7d7 0%,#ffffff 100%);
    border: solid 1px #9d9d9d;
    border-radius: 10px;
    bottom: 4px;
    left: 4px;
  }

  &:hover,&:active,&.active {
    background: linear-gradient(to bottom,#b79451 0%,#dfc88b 100%);
  }
}

.login-info-public {
  display: flex;
  justify-content: center;
  align-items: center;

  i:first-child {
    margin-right: 10px;
  }

  span {
    font-size: 14px;
    font-weight: bold;
    color: #c0933e;
  }
}

.login-info-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.33vw 0 2vw;

  li {
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .vip-lv {
    // width: 36px;
    height: 20px;
    padding: 0 5px;
    background: linear-gradient(120deg, #f1d7b7 0%, #cca172 50%, #f1c999 100%);
    font-size: 0.75rem;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cca172;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    flex-shrink: 0;
  }

  .member-name {
    width: 22.7vw;
    font-size: 0.75rem;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .member-amount {
    width: 33.76vw;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.operate-btn {
  width: 53.87vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: linear-gradient(-45deg, #d7d7d7 0%, #ffffff 100%);
    border: solid 1px #9d9d9d;
    border-radius: 10px;
    bottom: 4px;
    right: 4px;
  }
}

.btn-dot {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  // display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top,#dfdfdf 0%,#f7f7f7 56%,#ffffff 100%);
  box-shadow: 0px 1px 2px 1px #878787;
  border: solid 1px #957223;
  font-size: 21px;
  font-weight: bold;
  color: #c0933e;
  text-align: center;

  &.btn-vip {
    font-size: 15px;
  }

  &:hover {
    background: linear-gradient(to bottom,#dfdfdf 0%,#f7f7f7 56%,#ffffff 100%);
  }
}

.icon-member {
  width: 25px;
  height: 25px;
  background: url('../../assets/img/new/userIC.png') no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 320px) {
  .operate-btn {
    padding: 0 1%;
  }

  .btn-dot {
    width: 38px;
    height: 38px;
    line-height: 38px;
  }
}
